:root{
    --header-height: 200px;
    --animation-duration: 200ms;
    --animation-timing-curve: ease-in-out;
    --text-animation-duration: 5000ms;
}

header{
    position: sticky;
    background-color: #A4243B;
    top: 0;
    left: 0;
    height: 200px;
    width: 100vw;
    box-shadow: 0 5px 10px 0 rgba(164,36,59,50%);
    border-bottom: 5px solid #1e2019;
    z-index: 1;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.logo{
    position: relative;
    width: 500px;
    height: 150px;
}
body{
    background-color: #fffcf2;
    overflow-x: hidden;
}
.login{
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    width: 150px;
    height: 50px;
    background-color: #fffcf2;
    border-style: solid;
    border-radius: 25%;
    border-color: #efea5a;
    border-width: 5px;
    visibility: visible;
}
.login:hover{
    background-color: #1e2019;
}
#login{
    position: relative;
    top: 5px;
    color: #efea5a;
    font-size: xx-large;
    text-decoration: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #048ba8;
}
.pokeIntro{
    position: relative;
    width: 720px;
    height: 512px;
    left: 50%;
    margin-left: -360px;
    top: 50%;
    margin-top: -256px;
}
.video{
    position:relative;
    background-color: #efea5a;
    border-style: solid;
    border-color: #048ba8;
    border-width: 5px;
    border-radius: 10%;
    top: 100px;
    left: 50%;
    margin-left: -350px;
    width: 800px;
    height: 592px;
}
.menu{
    position: relative;
    background: url('./pictures/Pokeball.png');
    background-size: 100% 100%;
    width: 200px;
    height: 200px;
    left: -20px;
    border: none;
    border-radius: 10%;
    padding: 0;
}
.menu:hover{
    background-color: #048ba8;
}
.sidebar{
    position:fixed;
    top: 205px;
    left: 0px;
    flex-shrink: 0;
    width: 50px;
    padding-top: 1rem;
    background-color: #048ba8;
    border-right: 5px solid #1e2019;
    height: calc(100vh - var(--header-height));
    transition: width var(--animation-duration) var(--animation-timing-curve);
}
main{
    display: flex;
    height: calc(100vh - var(--header-height));
}
.sidebar-list{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    list-style: none;
}
.sidebar-list-item{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sidebar-icon{
    width: 100%;
    height: 50px;
    z-index: 2;
}
.sidebar .sidebar-hidden{
    white-space: nowrap;
    display: none;
    opacity: 0;
    width: 0;
    transition: opacity var(--text-animation-duration) var(--animation-timing-curve);
}
.sidebar.open .sidebar-hidden{
    width: 100%;
    height: auto;
    display: block;
    font-size: x-large;
    right: 0;
    opacity: 1;
}
.sidebar-link{
    display: flex;
    flex-direction: row;
    border-radius: 10%;
    width: 100%;
    align-items: center;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #A4243B;
    text-decoration: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1e2019;
    justify-content: space-between;
}
.sidebar-list-item.active::before{
    content: "";
    background-color: #A4243B;
    height: 100%;
    left: 0;
    width: 3px;
    position: absolute
}
.sidebar-link:hover{
    background-color: #efea5a;
}
.sidebar.open{
    width: 200px;
}
.sidebar.open .sidebar-link {
    justify-content: flex-start;
}
.sidebar.open .sidebar-icon{
    margin-right: -50px;
}
.pokedex{
    position: relative;
    left: 50%;
    top: 100px;
}
.big-dex{
    position: inherit;
}
.dex-input{
    position:relative;
    left: 320px;
    bottom: 320px;
    width: 133px;
    height: 41px;
}
#search{
    position: relative;
    background-image: url("./pictures/dex_btn.png");
    width: 120px;
    height: 80px;
    border: none;
    bottom: 203px;
    left: 186px;
}
#search:hover{
    border: 1px solid #1e2019;
}
.dex-screen{
    position: relative;
    left: 350px;
    top: 100px;
}
#dex-screen{
    position: inherit;
}
.ability {
    position: relative;
    font-weight: bold;
    font-size: medium;
    color:#efea5a;
    text-align: center;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #048ba8;
    left: 370px;
    bottom: 250px;
    width: 100px;
    height: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1;
}
.ability::-webkit-scrollbar{
    display: none;
}
.details {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 300px;
    height: 500px;
    background-color: #A4243B;
    border: 5px solid #1e2019;
    border-radius: 10%;
    left: 650px;
    top: 0px;
}
.ability-effect{
    position:relative;
    font-weight: bold;
    font-size: large;
    color: #efea5a;
    text-align: center;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #048ba8;
}
.ability-short-effect{
    font-weight: bold;
    font-size: large;
    color: #fffcf2;
    text-align: center;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #048ba8;
}
.generation{
    font-weight: bold;
    font-size: large;
    color: #efea5a;
    text-align: center;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #048ba8;
}
.sprite{
    position: relative;
    bottom: 420px;
    left: 70px;
}
.backBtn {
    position: relative;
    bottom: 460px;
    left: 30px;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
}
.forwardBtn{
    position: relative;
    bottom: 460px;
    left: -25px;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
}
.poke-name{
    position: relative;
    left: 167px;
    bottom: 350px;
    background-color: #A4243B;
    border: 5px solid #1e2019;
    border-radius: 30%;
    width: 200px;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    color: #efea5a;
    text-align: center;
    text-decoration: underline;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #048ba8;
}
.order-num{
    position:relative;
    left: 420px;
    bottom: 386px;
    background-color: #A4243B;
    border: 1px solid #1e2019;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: table;
}
.order-num-text{
    display: table-cell;
    color: #efea5a;
    text-align: center;
    vertical-align: middle;
}
