:root{
    --header-height: 200px;
    --animation-duration: 200ms;
    --animation-timing-curve: ease-in-out;
    --text-animation-duration: 5000ms;
}

header{
    position: sticky;
    background-color: #A4243B;
    top: 0;
    left: 0;
    height: 200px;
    width: 100vw;
    box-shadow: 0 5px 10px 0 rgba(164,36,59,50%);
    border-bottom: 5px solid #1e2019;
    z-index: 1;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.logo{
    position: relative;
    width: 500px;
    height: 150px;
}
body{
    background-color: #fffcf2;
    overflow-x: hidden;
}
.login{
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    width: 150px;
    height: 50px;
    background-color: #fffcf2;
    border-style: solid;
    border-radius: 25%;
    border-color: #efea5a;
    border-width: 5px;
    visibility: visible;
}
.login:hover{
    background-color: #1e2019;
}
#login{
    position: relative;
    top: 5px;
    color: #efea5a;
    font-size: xx-large;
    text-decoration: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #048ba8;
}
.pokeIntro{
    position: relative;
    width: 720px;
    height: 512px;
    left: 50%;
    margin-left: -360px;
    top: 50%;
    margin-top: -256px;
}
.video{
    position:relative;
    background-color: #efea5a;
    border-style: solid;
    border-color: #048ba8;
    border-width: 5px;
    border-radius: 10%;
    top: 100px;
    left: 50%;
    margin-left: -350px;
    width: 800px;
    height: 592px;
}
.menu{
    position: relative;
    background: url('./pictures/Pokeball.png');
    background-size: 100% 100%;
    width: 200px;
    height: 200px;
    left: -20px;
    border: none;
    border-radius: 10%;
    padding: 0;
}
.menu:hover{
    background-color: #048ba8;
}
.sidebar{
    position:fixed;
    top: 205px;
    left: 0px;
    flex-shrink: 0;
    width: 50px;
    padding-top: 1rem;
    background-color: #048ba8;
    border-right: 5px solid #1e2019;
    height: calc(100vh - var(--header-height));
    transition: width var(--animation-duration) var(--animation-timing-curve);
}
main{
    display: flex;
    height: calc(100vh - var(--header-height));
}
.sidebar-list{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    list-style: none;
}
.sidebar-list-item{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sidebar-icon{
    width: 100%;
    height: 50px;
    z-index: 2;
}
.sidebar .sidebar-hidden{
    white-space: nowrap;
    display: none;
    opacity: 0;
    width: 0;
    transition: opacity var(--text-animation-duration) var(--animation-timing-curve);
}
.sidebar.open .sidebar-hidden{
    width: 100%;
    height: auto;
    display: block;
    font-size: x-large;
    right: 0;
    opacity: 1;
}
.sidebar-link{
    display: flex;
    flex-direction: row;
    border-radius: 10%;
    width: 100%;
    align-items: center;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #A4243B;
    text-decoration: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1e2019;
    justify-content: space-between;
}
.sidebar-list-item.active::before{
    content: "";
    background-color: #A4243B;
    height: 100%;
    left: 0;
    width: 3px;
    position: absolute
}
.sidebar-link:hover{
    background-color: #efea5a;
}
.sidebar.open{
    width: 200px;
    overflow-x: hidden;
}
.sidebar.open .sidebar-link {
    justify-content: flex-start;
}
.sidebar.open .sidebar-icon{
    margin-right: -50px;
}
.pokedex{
    position: relative;
    left: 50%;
    top: 100px;
}
.big-dex{
    position: inherit;
}
.dex-input{
    position:relative;
    left: 320px;
    bottom: 320px;
    width: 133px;
    height: 41px;
}
#search{
    position: relative;
    background-image: url("./pictures/dex_btn.png");
    width: 120px;
    height: 80px;
    border: none;
    bottom: 203px;
    left: 186px;
    cursor: pointer;
}
.dex-screen-container{
    position: relative;
    width: 540px;
    height: 480px;
    left: 350px;
    top: 100px;
}
.dex-screen{
    position: relative;
    bottom: 363px;
    left: 60px;
    width: 420px;
    height: 240px;
}
#dex-screen{
    position: inherit;
}
.ability {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-weight: bold;
    font-size: medium;
    color:#efea5a;
    text-align: center;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #048ba8;
    width: 100px;
    height: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1;
}
.abilityName{
    cursor: pointer;
}
.ability::-webkit-scrollbar{
    display: none;
}
.details {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 300px;
    height: 500px;
    background-color: #A4243B;
    border: 5px solid #1e2019;
    border-radius: 10%;
}
.ability-effect{
    position:relative;
    font-weight: bold;
    font-size: medium;
    color: #efea5a;
    text-align: center;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #048ba8;
}
.ability-short-effect{
    font-weight: bold;
    font-size: medium;
    color: #fffcf2;
    text-align: center;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #048ba8;
}
.generation{
    font-weight: bold;
    font-size: medium;
    color: #efea5a;
    text-align: center;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #048ba8;
}
.sprite{
    position: absolute;
    left: 50%;
    margin-left: -48px;
    top: 50%;
    margin-top: -48px;
}
.backBtn {
    position: absolute;
    left: 75%;
    margin-left: -10px;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
}
.forwardBtn{
    position: absolute;
    left: 25%;
    margin-left: -10px;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
}
.poke-name{
    position: absolute;
    background-color: #A4243B;
    border: 5px solid #1e2019;
    top: 10px;
    left: 50%;
    margin-left: -100px;
    border-radius: 30%;
    width: 200px;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    color: #efea5a;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #048ba8;
}
.order-num{
    position:absolute;
    left: 10%;
    margin-left: -15px;
    top: 15px;
    background-color: #A4243B;
    border: 1px solid #1e2019;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: table;
}
.order-num-text{
    display: table-cell;
    color: #efea5a;
    text-align: center;
    vertical-align: middle;
}
.order-num-down{
    position: absolute;
    left: 10px;
    top: 20px;
}
.order-num-up{
    position: absolute;
    left: 55px;
    top: 20px;
}
.stats-display{
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -75px;
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 50px;
}
.stats-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.hp-tooltip-box{
    position: absolute;
    visibility: hidden;
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #1e2019;
    background-color: #A4243B;
}
.hp-tooltip{
    text-align: center;
    vertical-align: middle;
    visibility: hidden;
    display: none;
    font-weight: bold;
    font-size: large;
    color: #fffcf2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #048ba8;
}

.hp:hover .hp-tooltip{
    visibility: visible;
    display: table-cell;
}
.hp:hover .hp-tooltip-box{
    visibility: visible;
    display: table;
}
.atk-tooltip-box{
    position: absolute;
    visibility: hidden;
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #1e2019;
    background-color: #A4243B;
}
.atk-tooltip{
    text-align: center;
    vertical-align: middle;
    visibility: hidden;
    display: none;
    font-weight: bold;
    font-size: large;
    color: #fffcf2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #048ba8;
}

.atk:hover .atk-tooltip{
    visibility: visible;
    display: table-cell;
}
.atk:hover .atk-tooltip-box{
    visibility: visible;
    display: table;
}
.def-tooltip-box{
    position: absolute;
    visibility: hidden;
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #1e2019;
    background-color: #A4243B;
}
.def-tooltip{
    text-align: center;
    vertical-align: middle;
    visibility: hidden;
    display: none;
    font-weight: bold;
    font-size: large;
    color: #fffcf2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #048ba8;
}

.def:hover .def-tooltip{
    visibility: visible;
    display: table-cell;
}
.def:hover .def-tooltip-box{
    visibility: visible;
    display: table;
}
.sp-atk-tooltip-box{
    position: absolute;
    visibility: hidden;
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #1e2019;
    background-color: #A4243B;
}
.sp-atk-tooltip{
    text-align: center;
    vertical-align: middle;
    visibility: hidden;
    display: none;
    font-weight: bold;
    font-size: large;
    color: #fffcf2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #048ba8;
}

.sp-atk:hover .sp-atk-tooltip{
    visibility: visible;
    display: table-cell;
}
.sp-atk:hover .sp-atk-tooltip-box{
    visibility: visible;
    display: table;
}
.sp-def-tooltip-box{
    position: absolute;
    visibility: hidden;
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #1e2019;
    background-color: #A4243B;
}
.sp-def-tooltip{
    text-align: center;
    vertical-align: middle;
    visibility: hidden;
    display: none;
    font-weight: bold;
    font-size: large;
    color: #fffcf2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #048ba8;
}

.sp-def:hover .sp-def-tooltip{
    visibility: visible;
    display: table-cell;
}
.sp-def:hover .sp-def-tooltip-box{
    visibility: visible;
    display: table;
}

.spd-tooltip-box{
    position: absolute;
    visibility: hidden;
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #1e2019;
    background-color: #A4243B;
}
.spd-tooltip{
    text-align: center;
    vertical-align: middle;
    visibility: hidden;
    display: none;
    font-weight: bold;
    font-size: large;
    color: #fffcf2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #048ba8;
}

.spd:hover .spd-tooltip{
    visibility: visible;
    display: table-cell;
}
.spd:hover .spd-tooltip-box{
    visibility: visible;
    display: table;
}

.stat-nums{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: medium;
    color: #fffcf2;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #048ba8;
}
.move-stats{
    position: absolute;
    background-color: #048ba8;
    border: 5px solid #1e2019;
    border-radius: 10%;
    top: 50px;
    left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50px;
    height: 90px;
}
.move-stat-icons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.move-stat-nums{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    font-size: medium;
    color: #efea5a;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #048ba8;
}
.moves-display{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
    overflow-y: scroll;
    font-weight: bold;
    font-size: medium;
    color:#efea5a;
    text-align: center;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #048ba8;
}
.moves-display::-webkit-scrollbar{
    display: none;
}
.move-name{
    cursor: pointer;
}
.move-detail-name{
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    color: #efea5a;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #048ba8;
}
.move-details-text-box{
    position: absolute;
    bottom: 150px;
    text-align: center;
    overflow-y: scroll;
    width: 300px;
    height: 125px;
}
.move-details-text-box::-webkit-scrollbar{
    display: none;
}
.move-type{
    position: absolute;
    background-color: #048ba8;
    border: 5px solid #1e2019;
    border-radius: 10%;
    align-items: center;
    right: 25px;
    top: 60px;
    width: 125px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    vertical-align: middle;
}
.move-type-text{
    font-weight: bold;
    font-size: medium;
    color: #efea5a;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #048ba8;
}
.move-type-text:hover{
    cursor: pointer;
}
.move-pokemon{
    position: absolute;
    bottom: 45px;
    width: 300px;
    height: 100px;
    overflow-y: scroll;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-weight: bold;
    font-size: medium;
    color: #fffcf2;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #048ba8;
}
.move-pokemon-name{
    cursor: pointer;
}
.move-pokemon::-webkit-scrollbar{
    display: none;
}
.move-gen-text{
    position: absolute;
    left: 50%;
    margin-left: -125px;
    bottom: 10px;
    width: 250px;
    font-weight: bold;
    font-size: medium;
    color: #efea5a;
    text-align: center;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #048ba8;
}
.move-effect-type{
    position: absolute;
    right: 25px;
    top: 100px;
    background-color: #048ba8;
    border: 5px solid #1e2019;
    border-radius: 10%;
    align-items: center;
    width: 125px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    vertical-align: middle;
}
.move-effect-text{
    font-weight: bold;
    font-size: medium;
    color: #efea5a;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #048ba8;
}
.stat-change-display{
    position: absolute;
    top: 80px;
    left: 77px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #048ba8;
    border: 5px solid #1e2019;
    border-radius: 10%;
    width: 50px;
    height: auto;
}
.changed-stat{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.stat-change{
    font-weight: bold;
    font-size: medium;
    color: #efea5a;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #048ba8;
}
.flavor-text-display{
    position: absolute;
    left: 50%;
    margin-left: -125px;
    top: 150px;
    text-align: center;
    width: 250px;
    height: 70px;
    overflow-y: scroll;
    font-weight: bold;
    font-size: medium;
    color: #efea5a;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #048ba8;
}
.flavor-text-display::-webkit-scrollbar{
    display: none;
}
.move-effect-entry{
    font-weight: bold;
    font-size: medium;
    color: #fffcf2;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #048ba8;
}
.move-effect-entry::-webkit-scrollbar{
    display: none;
}
.move-short-effect-entry{
    font-weight: bold;
    font-size: medium;
    color: #efea5a;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #048ba8;
}
.move-short-effect-entry::-webkit-scrollbar{
    display: none;
}
.flavor-forward{
    position: absolute;
    right: 5px;
    top: 170px;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
}
.flavor-back{
    position: absolute;
    left: 5px;
    top: 170px;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
}
.poke-species{
    position:absolute;
    text-align: center;
    width: 200px;
    height: 20px;
    left: 50%;
    margin-left: -100px;
    top: 60px;
    font-weight: bold;
    font-size: medium;
    color: #fffcf2;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #048ba8;
    cursor: pointer;
}
.evo-details::-webkit-scrollbar{
    display: block;
    color: #048ba8;
    background-color: #1e2019;
}
.evo-image{
    display: flex;
    margin-left: 0;
    flex-direction: row;
    text-align: center;
    font-weight: bold;
    font-size: large;
    color: #efea5a;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #048ba8;
}
.evo-image::-webkit-scrollbar {
    display: block;
    width: auto;
    height: 10px;
    background-color: #A4243B;
}
.evo-image::-webkit-scrollbar-thumb{
    background-color: #1e2019;
}
.poke-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.evo-name{
    cursor: pointer;
}
.details-container{
    position: relative;
    width:300px;
    height:500px;
    top: 100px;
    left: 500px;
}
.egg-pokemon{
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -125px;
    height: 50px;
    width: 250px;
    overflow-y: scroll;
    text-align: center;
    font-weight: bold;
    font-size: large;
    color: #efea5a;
    overflow-x: hidden;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #048ba8;
}
.egg-pokemon-name{
    cursor: pointer;
}
.egg-box{
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -125px;
    display: flex;
    width: 250px;
    height: auto;
    background-color: #048ba8;
    border: 5px solid #1e2019;
    border-radius: 10%;
    align-items: center;
    justify-content: space-evenly;
}
.egg-img{
    display: flex;
    flex-direction: column;
}
.egg-type{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: medium;
    color: #fffcf2;
}
.cap-rate{
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: medium;
    color: #efea5a;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #048ba8;
    bottom: 15px;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    height: 100px;
}
.legendary {
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: medium;
    color: #fffcf2;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #048ba8;
    bottom: 125px;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    height: 50px;
}
.species-details-gen{
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    text-align: center;
    font-weight: bold;
    font-size: medium;
    color: #fffcf2;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #048ba8;
}
.types-box{
    position: absolute;
    right: 10px;
    top: 60px;
    display: flex;
    flex-direction: column;
    width: 80px;
    height: auto;
}
.type-display-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: medium;
    color: #fffcf2;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #048ba8;
}
.type-display-box:hover{
    cursor: pointer;
}
.type-details-title-box{
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 50px;
    font-weight: bold;
    font-size: x-large;
    color: #fffcf2;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #048ba8;
}
.type-details-gen {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    text-align: center;
    font-weight: bold;
    font-size: medium;
    color: #fffcf2;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #048ba8;
}
.damage-relations-box{
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -125px;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 250px;
    background-color: #1e2019;
    border: 5px solid #048ba8;
    border-radius: 25%;
}
.damage-relations-text{
    position: absolute;
    top: 10px;
    width: 250px;
    text-align: center;
    font-weight: bold;
    font-size: large;
    color: #fffcf2;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #048ba8;
}
.double-damage-box{
    position: absolute;
    top: 50px;
    display: flex;
    justify-content: space-between;
}
.double-damage-bar{
    text-align: center;
    align-items: center;
    width: 125px;
    height: 30px;
    border-radius: 25%;
    background-color: #048ba8;
    font-weight: bold;
    font-size: medium;
    color: #fffcf2;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #048ba8;
}
.double-damage-types{
    display: flex;
    width: 125px;
    overflow-x: scroll;
    justify-content: space-evenly;
}
.double-damage-types::-webkit-scrollbar {
    display: block;
    width: auto;
    height: 10px;
    background-color: #1e2019;
}
.double-damage-types::-webkit-scrollbar-thumb{
    background-color: #A4243B;
}
.strong-box{
    position: absolute;
    top: 90px;
    display: flex;
    justify-content: space-between;
}
.strong-bar{
    text-align: center;
    align-items: center;
    width: 125px;
    height: 30px;
    border-radius: 25%;
    background-color: #048ba8;
    font-weight: bold;
    font-size: medium;
    color: #fffcf2;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #048ba8;
}
.strong-types{
    display: flex;
    width: 125px;
    overflow-x: scroll;
    justify-content: space-evenly;
}
.strong-types::-webkit-scrollbar {
    display: block;
    width: auto;
    height: 10px;
    background-color: #1e2019;
}
.strong-types::-webkit-scrollbar-thumb{
    background-color: #A4243B;
}
.weak-box{
    position: absolute;
    top: 130px;
    display: flex;
    justify-content: space-between;
}
.weak-bar{
    text-align: center;
    align-items: center;
    width: 125px;
    height: 30px;
    border-radius: 25%;
    background-color: #A4243B;
    font-weight: bold;
    font-size: medium;
    color: #fffcf2;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #048ba8;
}
.weak-types{
    display: flex;
    width: 125px;
    overflow-x: scroll;
    justify-content: space-evenly;
}
.weak-types::-webkit-scrollbar {
    display: block;
    width: auto;
    height: 10px;
    background-color: #1e2019;
}
.weak-types::-webkit-scrollbar-thumb{
    background-color: #A4243B;
}
.weakest-box{
    position: absolute;
    top: 170px;
    display: flex;
    justify-content: space-between;
}
.weakest-bar{
    text-align: center;
    align-items: center;
    width: 125px;
    height: 30px;
    border-radius: 25%;
    background-color: #A4243B;
    font-weight: bold;
    font-size: medium;
    color: #fffcf2;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #048ba8;
}
.weakest-types{
    display: flex;
    width: 125px;
    overflow-x: scroll;
    justify-content: space-evenly;
}
.weakest-types::-webkit-scrollbar {
    display: block;
    width: auto;
    height: 10px;
    background-color: #1e2019;
}
.weakest-types::-webkit-scrollbar-thumb{
    background-color: #A4243B;
}
.no-damage-box{
    position: absolute;
    top: 210px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.no-damage-bar{
    text-align: center;
    align-items: center;
    width: 125px;
    height: 30px;
    border-radius: 25%;
    background-color: #efea5a;
    font-weight: bold;
    font-size: medium;
    color: #1e2019;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #048ba8;
}
.no-damage-types{
    display: flex;
    width: 125px;
    justify-content: space-evenly;
}

.no-damage-from-box{
    position: absolute;
    top: 210px;
    right: 0px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.no-damage-from-bar{
    text-align: center;
    align-items: center;
    width: 125px;
    height: 30px;
    border-radius: 25%;
    background-color: #efea5a;
    font-weight: bold;
    font-size: medium;
    color: #1e2019;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #048ba8;
}
.no-damage-from-types{
    display: flex;
    width: 125px;
    justify-content: space-evenly;
}
.strongest-tooltip{
    position: absolute;
    visibility: hidden;
    display: none;
    width: auto;
    height: auto;
    border: 3px solid #048ba8;
    background-color: #A4243B;
    z-index: 1;
}
.strongest-tooltip-text{
    text-align: center;
    vertical-align: middle;
    visibility: hidden;
    display: none;
    font-weight: bold;
    font-size: large;
    color: #1e2019;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fffcf2;
}

.strongest-img:hover .strongest-tooltip{
    visibility: visible;
    display: block;
}
.strongest-img:hover .strongest-tooltip-text{
    visibility: visible;
    display: block;
}
.strongest-img{
    cursor: pointer;
}
.strong-tooltip{
    position: absolute;
    visibility: hidden;
    display: none;
    width: auto;
    height: auto;
    border: 3px solid #048ba8;
    background-color: #A4243B;
    z-index: 1;
}
.strong-tooltip-text{
    text-align: center;
    vertical-align: middle;
    visibility: hidden;
    display: none;
    font-weight: bold;
    font-size: large;
    color: #1e2019;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fffcf2;
}

.strong-img:hover .strong-tooltip{
    visibility: visible;
    display: block;
}
.strong-img:hover .strong-tooltip-text{
    visibility: visible;
    display: block;
}
.strong-img{
    cursor: pointer;
}
.weak-tooltip{
    position: absolute;
    visibility: hidden;
    display: none;
    width: auto;
    height: auto;
    border: 3px solid #048ba8;
    background-color: #A4243B;
    z-index: 1;
}
.weak-tooltip-text{
    text-align: center;
    vertical-align: middle;
    visibility: hidden;
    display: none;
    font-weight: bold;
    font-size: large;
    color: #1e2019;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fffcf2;
}

.weak-img:hover .weak-tooltip{
    visibility: visible;
    display: block;
}
.weak-img:hover .weak-tooltip-text{
    visibility: visible;
    display: block;
}
.weak-img{
    cursor: pointer;
}
.weakest-tooltip{
    position: absolute;
    visibility: hidden;
    display: none;
    width: auto;
    height: auto;
    border: 3px solid #048ba8;
    background-color: #A4243B;
    z-index: 1;
}
.weakest-tooltip-text{
    text-align: center;
    vertical-align: middle;
    visibility: hidden;
    display: none;
    font-weight: bold;
    font-size: large;
    color: #1e2019;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fffcf2;
}

.weakest-img:hover .weakest-tooltip{
    visibility: visible;
    display: block;
}
.weakest-img:hover .weakest-tooltip-text{
    visibility: visible;
    display: block;
}
.weakest-img{
    cursor: pointer;
}
.no-damage-tooltip{
    position: absolute;
    visibility: hidden;
    display: none;
    width: auto;
    height: auto;
    border: 3px solid #048ba8;
    background-color: #A4243B;
    z-index: 1;
}
.no-damage-tooltip-text{
    text-align: center;
    vertical-align: middle;
    visibility: hidden;
    display: none;
    font-weight: bold;
    font-size: large;
    color: #1e2019;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fffcf2;
}

.no-damage-img:hover .no-damage-tooltip{
    visibility: visible;
    display: block;
}
.no-damage-img:hover .no-damage-tooltip-text{
    visibility: visible;
    display: block;
}
.no-damage-img{
    cursor: pointer;
}
.no-damage-from-tooltip{
    position: absolute;
    visibility: hidden;
    display: none;
    width: auto;
    height: auto;
    border: 3px solid #048ba8;
    background-color: #A4243B;
    z-index: 1;
}
.no-damage-from-tooltip-text{
    text-align: center;
    vertical-align: middle;
    visibility: hidden;
    display: none;
    font-weight: bold;
    font-size: large;
    color: #1e2019;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fffcf2;
}

.no-damage-from-img:hover .no-damage-from-tooltip{
    visibility: visible;
    display: block;
}
.no-damage-from-img:hover .no-damage-from-tooltip-text{
    visibility: visible;
    display: block;
}
.no-damage-from-img{
    cursor: pointer;
}
.type-moves-display{
    position: absolute;
    bottom: 70px;
    left: 10px;
    width: 150px;
    height: 60px;
    overflow-y: scroll;
    font-weight: bold;
    font-size: medium;
    color:#efea5a;
    text-align: center;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #048ba8;
}
.type-moves-display::-webkit-scrollbar{
    display: none;
}
.type-move-name{
    cursor: pointer;
}
.type-pokemon-display{
    position: absolute;
    bottom: 70px;
    right: 10px;
    width: 150px;
    height: 60px;
    overflow-y: scroll;
    font-weight: bold;
    font-size: medium;
    color:#efea5a;
    text-align: center;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #048ba8;
}
.type-pokemon-display::-webkit-scrollbar{
    display: none;
}
.type-pokemon-name{
    cursor: pointer;
}